html {
	box-sizing: border-box;
	background: white;
	font-family: 'helvetica neue';
	font-size: 20px;
	font-weight: 200;
}

*, *:before, *:after {
	box-sizing: inherit;
	}

	input {
		width: 100%;
		padding: 20px;
	}

	.search-form {
		max-width: 400px;
		margin: 50px auto;
	}


	input.search {
		background: #FFFFFC;
		margin: 0;
		/*default left-aligned text*/
		outline: 0;
		opacity: 0.5;
		border: 0;
		border: 0px solid #F7F7F7;
		width: 120%;
		left: -10%;
		position: relative;
		top: 250px;
		z-index: 2;
		border-radius: 5px;
		font-size: 40px;

		/*sneakily use box-shadow as an opaque "border"*/
		 box-shadow: 0px 0px 0px 5px rgba(172, 172,172, 1.0);
	}