html {
	box-sizing: border-box;
	/*background: #ffc600;*/
	font-family: 'helvetica neue';
	font-size: 20px;
	font-weight: 200;
}

*, *:before, *:after {
	box-sizing: inherit;
	}

	input {
		width: 100%;
		padding: 20px;
	}

	.search-form {
		max-width: 400px;
		margin: 50px auto;
	}


	input.search {
		background: #FFFFFC;
		margin: 0;
		/*text-align: left;*/
		outline: 0;
		border: 0;
		border: 10px solid #F7F7F7;
		width: 120%;
		left: -10%;
		position: relative;
		top: 250px;
		z-index: 2;
		border-radius: 5px;
		font-size: 40px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba();
	}