html {
	box-sizing: border-box;
	background: white;
	font-family: 'helvetica neue';
	font-size: 20px;
	font-weight: 200;
}

*, *:before, *:after {
	box-sizing: inherit;
	}

	input {
		width: 100%;
		padding: 20px;
	}

	.search-form {
		max-width: 400px;
		margin: 50px auto;
	}


	input.search {
		background: rgba(255, 255, 252, 0.5);
		margin: 0;
		/*default left-aligned text*/
		outline: 0;
		border: 10px solid rgba(66, 66, 66, 0.9);
		width: 120%;
		left: -10%;
		position: relative;
		top: 250px;
		z-index: 2;
		border-radius: 5px;
		font-size: 40px;
		 /*-webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;*/
    	/*transition: width 2s, height 2s, background-color 2s, transform 2s;*/
    	transition-duration: 0.25s;
    	transition-timing-function: easeInOutCubic;
	}

	input.search:hover {
		background: rgba(255, 255, 252, 0.8);
		border: 10px solid rgba(66, 66, 66, 0.9);

	};